[Unit]
Description=Influx Podman container
Wants=syslog.service

[Service]
Type=simple
Restart=always
TimeoutSec=30s
User={{ influxdb_os_user }}
Group={{ influxdb_os_group }}
EnvironmentFile=/etc/influxdb/env

ExecStartPre=-/usr/bin/podman system migrate
ExecStartPre=-/usr/bin/podman rm "influxdb"

ExecStart=/usr/bin/podman run \
  --name "influxdb" \
  -p 8086:8086 \
  --env-file /etc/influxdb/env \
  -v /var/lib/influxdb:/var/lib/influxdb:Z \
{% if influxdb_enable_ssl %}
  -v {{ influxdb_ssl_cert_location }}:/etc/ssl/influxdb.pem:Z \
  -v {{ influxdb_ssl_key_location }}:/etc/ssl/influxdb.key.pem:Z \
{% endif %}
  ${INFLUXDB_IMAGE}

ExecReload=-/usr/bin/podman stop "influxdb"
ExecReload=-/usr/bin/podman rm "influxdb"

ExecStop=-/usr/bin/podman stop "influxdb"
ExecStop=-/usr/bin/podman rm "influxdb"

[Install]
WantedBy=multi-user.target
